In [2]:
import zipfile
import pandas as pd
import numpy as np

from sklearn import linear_model
from sklearn import metrics
from sklearn.model_selection import train_test_split
import sklearn.preprocessing as pre
from sklearn import preprocessing

In [11]:
# #import python machine learning kit
# import sklearn as sk
# #import logistic regression model specifically
# from sklearn.linear_model import LogisticRegression

# from sklearn.base import TransformerMixin as mix

In [7]:
#creates instance of model with no parameters set - thus setting them all to their defaults
#might not want this bit
logisticRegr = LogisticRegression()

In [3]:
#unzips
zip_ref = zipfile.ZipFile('C:/Users/Josep/Python/git/inputs/all.zip')
zip_ref.extractall(r"C:/Users/Josep/Python/git/inputs/")
zip_ref.close()

In [4]:
df=pd.read_csv('C:/Users/Josep/Python/git/inputs/train.csv')

In [5]:
df=df.replace(to_replace={'male':'2','female':'1'})
df=df.replace(to_replace={'C':'1','Q':'2','S':'3'})

In [6]:
df2=df.drop(['Name','Ticket','Cabin','PassengerId','Survived'],axis=1)

In [7]:
# converts all columns to float type data

def convert(df,df_cols):
    for col in df_cols:
#         df[col]=pd.to_numeric(df[col])
        df[col]=df[col].astype(float)

cols_to_convert=['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']

convert(df2,cols_to_convert)

In [8]:
#replaces missing values with the mean score in their column

def fill_blanks(df,df_cols):
    for col in df_cols:
        df[col]=df[col].fillna(df[col].mean())

cols_to_fill_blanks=['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']

fill_blanks(df2,cols_to_fill_blanks)

In [12]:
#normalises values to figures between 0 and 1

scaler=pre.MinMaxScaler()

def scale(df,df_cols):
    for col in df_cols:
        df2[col]=scaler.fit_transform(df[col].values.reshape(-1,1))

cols_to_scale=['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']

scale(df2,cols_to_scale)

In [137]:
df2.corr(method='spearman')

            Pclass       Sex       Age     SibSp     Parch      Fare  Embarked
Pclass    1.000000  0.135775 -0.308875 -0.043019 -0.022801 -0.688032  0.097063
Sex       0.135775  1.000000  0.067809 -0.195204 -0.254512 -0.259593  0.120217
Age      -0.308875  0.067809  1.000000 -0.147035 -0.217290  0.118847 -0.029127
SibSp    -0.043019 -0.195204 -0.147035  1.000000  0.450014  0.447113  0.013582
Parch    -0.022801 -0.254512 -0.217290  0.450014  1.000000  0.410074  0.030372
Fare     -0.688032 -0.259593  0.118847  0.447113  0.410074  1.000000 -0.079909
Embarked  0.097063  0.120217 -0.029127  0.013582  0.030372 -0.079909  1.000000

In [ ]:
train,test=train_test_split(df2)